*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    width: 300px;

}


.container {
    justify-content: end;
    display: inline-block;
    border-radius: 20px;
    padding: 20px;
    margin-left: 780px;
    position: relative;
    top: 180px;
        
}

.userLogo {
    position: relative;
    left: 36%;
    color:#005EB7;
}

.email {
    text-align: left;
    color: #005EB7;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.senha {
    text-align: left;
    color: #005EB7;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title{
    color: #005EB7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;

}

.icon{
    position: relative;
    top: 10px;
    right: 10px;
    
}

.field{
    align-items: center;
    color: #005EB7;
    border-radius: 10px;
    width: 280px;
    height: 40px;
    padding: 10px;
    background-color: #EEEEEE;
    position: relative;
    left: 10px;
    border: 2px solid #005EB7;

}

.fieldofLetter{
    color: rgb(0, 0, 0);
    text-align: center;

}

.button {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    transition: 1s;
    border-radius: 10px;
    padding: 10px 80px;
    border: none;
    background-color: #005EB7;
    position: relative;
    left: 50px;
    top: 10px
}

.button:hover {
    transform: scale(1.1);
}

.logo {
    padding: 8px;
}

.componentsSenha{
    display: flex;
    justify-content:space-between;
}

.btn_add_user {
    color: #005EB7;
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 20px;  
}